name: Run Checks

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: macos-latest
    steps:

      - uses: actions/checkout@v5

      - name: set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 21

      - uses: gradle/actions/setup-gradle@v5
        with:
          cache-cleanup: on-success
#          cache-encryption-key: ${{ inputs.gradle-cache-encryption-key }}

      - name: Run Check
        run: ./gradlew check