name: Code Checks
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  checks:
    runs-on: macos-15
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6

      - name: Setup environment
        uses: ./.github/actions/setup-gradle
        with:
          gradle-cache-encryption-key: ${{ secrets.GRADLE_CACHE_ENCRYPTION_KEY }}

      - name: Run Checks
        run: ./gradlew check

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v5
        with:
          name: build-reports
          path: |
            **/build/reports/*    

  build-android-app:
    name: Build Android App
    runs-on: ubuntu-latest
    needs: [ checks ]
    steps:
      - uses: actions/checkout@v6

      - name: Setup environment
        uses: ./.github/actions/setup-gradle
        with:
          gradle-cache-encryption-key: ${{ secrets.GRADLE_CACHE_ENCRYPTION_KEY }}

      - name: Build Android Sample
        run: ./gradlew :androidApp:assembleDebug

  build-ios-app:
    name: Build iOS App
    runs-on: macos-15
    needs: [ checks ]
    steps:
      - uses: actions/checkout@v6

      - name: Xcode version
        run: |
          /usr/bin/xcodebuild -version   

      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      - name: Xcode version
        run: |
          /usr/bin/xcodebuild -version 

      - name: Setup environment
        uses: ./.github/actions/setup-gradle
        with:
          gradle-cache-encryption-key: ${{ secrets.GRADLE_CACHE_ENCRYPTION_KEY }}

      - name: Build iOS Sample
        run: |
          cd iosApp
          xcodebuild -configuration Debug -scheme MoneyFlow -sdk iphoneos -destination name='iPhone 17 Pro' build | xcbeautify --renderer github-actions
